body, html{
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

.normal-p{
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
}

#second-para {
  color: rgb(85, 82, 82);
}

h2{
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 5px;
}

h3{
  background-color: rgb(241, 239, 239);
  padding: 30px;
  margin: 5px;
  border: 2px solid rgb(241, 239, 239);
  border-radius: 15px;
}

h5{
  font-size: 20px;
}

#checked {
  background-color: rgb(250, 174, 161);
  border: 2px solid pink;
}

.donate-now {
  text-align:center;
  color: white;
  font-weight: 900;
  padding: 300px;
  background-image: url(images/donation13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  border: 0;
  background
}

.donate-button {
  background-color: tomato;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 25px;
  border-radius: 10px;
}

.donate-today {
  text-align: center;
  padding: 50px 300px;
  font-weight: 900;
}



#donate-button {
  background-color: tomato;
  padding: 10px;  
}

.amount-option{
  display: flex;
  font-size: 20px;
  text-align: center;
  padding: 10px 310px;
}

.other-amount {
  margin: 20px;
  padding: 20px 530px;
}

div h4{
  color: lightgray;
  padding: 5px;
  margin-left: 20px;
}

#section3 {
  margin: 100px;
}

#flexible-container{
  display: flex;
  margin: 10px 100px;
}

.flex-div {
  padding: 40px 20px;
  margin: 10px;
}

.para-3
{
  text-align: justify;
  font-size: 15px;
}

#background-color-1 {
  background-color: rgb(194, 191, 191);
}
#background-color-2 {
  background-color: rgb(248, 217, 222);
}
#background-color-3 {
  background-color: cornsilk;
}

form {
  background-color: cornsilk;
  margin: 40px 350px;
  padding: 40px 140px;
}

button {
  background-color: tomato;
  border: 5px solid tomato;
  padding: 10px 20px;
  margin: 0;
}

input[type=email] {
  background-color: rgb(206, 192, 192);
  border: 5px solid rgb(206, 192, 192);
  padding: 10px 20px;
  margin: 0;
}
