body, html{
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

h1 {
  font-size: 80px;
}
p{
  font-size: 20px;
}
#para-white {
  color: rgb(85, 82, 82);
}
h2{
  font-size: 60px;
}



.donate-now {
  text-align:center;
  color: white;
  font-weight: 900;
  padding: 300px;
  background-image: url(images/donation13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  border: 0;
  background
}

.donate-button {
  background-color: tomato;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 25px;
  border-radius: 10px;

}

.donate-today {
  text-align: center;
  padding: 300px;
  font-weight: 900;
  
}

.donation-form {
  
}

#donate-button {
  background-color: tomato;
  padding: 10px;
  display: flex;
  text-align: center;
  
}

