body, html{
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

h1 {
  font-size: 80px;
}

p{
  font-size: 20px;
}

#second-para {
  color: rgb(85, 82, 82);
}

h2{
  font-size: 60px;
}

h3{
  background-color: rgb(241, 239, 239);
  padding: 30px;
  margin: 5px;
  border: 2px solid rgb(241, 239, 239);
  border-radius: 15px;
}

#checked {
  background-color: rgb(250, 174, 161);
  border: 2px solid pink;
}

.donate-now {
  text-align:center;
  color: white;
  font-weight: 900;
  padding: 300px;
  background-image: url(images/donation13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  border: 0;
  background
}

.donate-button {
  background-color: tomato;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 25px;
  border-radius: 10px;
}

.donate-today {
  text-align: center;
  padding: 50px 300px;
  font-weight: 900;
}



#donate-button {
  background-color: tomato;
  padding: 10px;  
}

.amount-option{
  display: flex;
  font-size: 20px;
  text-align: center;
  padding: 10px 310px;
}

.other-amount {
  margin: 20px;
  padding: 20px 530px;
}

div h4{
  color: lightgray;
  padding: 5px;
  margin-left: 20px;
}
